<ion-header>
  <ion-toolbar [myScrollVanish]="scrollArea">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard" mode="ios" icon="ios-arrow-back" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Pickup</ion-title>
    <app-pca-header slot="end"></app-pca-header>
  </ion-toolbar>
</ion-header>

<ion-content #scrollArea scrollEvents="true" fullscreen>
  <ion-card color="light" mode="ios">
    <ion-card-header>
      <ion-card-title>Please Confirm Your Item</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-grid no-padding>
            <ion-row>
              <ion-col size="4" class="ion-text-center">Item</ion-col>
              <ion-col size="4" class="ion-text-center">CN</ion-col>
              <ion-col size="4" class="ion-text-center">PKG</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid no-padding>
            <ion-row>
              <ion-col size="4" class="ion-text-center">Document</ion-col>
              <ion-col size="4" class="ion-text-center">{{ pickup.docCn }}</ion-col>
              <ion-col size="4" class="ion-text-center">{{ pickup.docPkg }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid no-padding>
            <ion-row>
              <ion-col size="4" class="ion-text-center">Parcel</ion-col>
              <ion-col size="4" class="ion-text-center">{{ pickup.parcelCn }}</ion-col>
              <ion-col size="4" class="ion-text-center">{{ pickup.parcelPkg }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>If correct, Sign Below</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <div style="border: rgba(190,190,190,1) 1px solid;border-radius:15px">
              <signature-pad [options]="signaturePadOptions"></signature-pad>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-button
              mode="ios"
              class="button-condensed"
              (click)="reverse()"
              shape="round"
              color="danger"
            >
              Cancel
            </ion-button>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-button
              mode="ios"
              shape="round"
              color="primary"
              class="button-condensed"
              (click)="done()"
            >
              Done
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
