.icon {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}

.icon.grey {
  color: rgb(116, 116, 116);
}

.text {
  display: inline-block;
  vertical-align: middle;
}

.text.grey {
  color: rgb(116, 116, 116);
}
