ion-icon {
  font-size: 25px;
  margin-right: 10px;
  color: black;
}

ion-button {
  color: white;
}

.up {
  padding-bottom: 0px !important;
  padding-top: 10px !important;
  color: #7F8C8D;
  font-family: 'Roboto Light';
}

.down {
  padding-top: 0px !important;
  padding-bottom: 10px !important;
}

ion-select {
  padding-left: 0px;
  padding-top: 0px;
}

.sc-ion-input-md-h {
    --padding-top: 0px !important;
}
