<ion-content class="ion-content-nobg" scroll-y="false">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <form style="width:100%" class="ion-no-padding" [formGroup]="myForm">
        <ion-list class="ion-padding login-form" style="width:100%">
          <ion-item style="background: none;margin-bottom:30px">
            <ion-img src="../../../assets/svgs/logonationwide.svg"></ion-img>
          </ion-item>
          <ion-item lines="none">
            <ion-label><ion-icon name="ios-person" item-left></ion-icon></ion-label>
            <ion-input
              formControlName="Username"
              clearInput
              type="text"
              placeholder="Username"
            ></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label><ion-icon name="ios-lock" item-left></ion-icon></ion-label>
            <ion-input
              formControlName="Password"
              clearInput
              [type]="passwordType"
              placeholder="Password"
              clearOnEdit="false"
            ></ion-input>
            <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword()"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-list class="ion-padding login-form-buttons" style="width: 100%">
          <ion-button
            (click)="Login()"
            class="login-button"
            expand="block"
            shape="round"
            color="primary"
          >
            Log In
          </ion-button>
          <ion-button
            (click)="Login()"
            class="login-button"
            expand="block"
            fill="clear"
            shape="round"
            color="primary"
          >
            Forgot Password?
          </ion-button>
          <ion-item class="ion-text-center" lines="none">
            <ion-label>
              <small>V {{ version }}</small>
            </ion-label>
          </ion-item>
        </ion-list>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
