// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

ion-content {
  --background: url("../assets/svgs/BG.svg") no-repeat;
  background-color: rgba(249, 249, 249, 1);
  background-position: 0px 0px;
}

ion-header {
  --border-style: none;
}
ion-toolbar {
  --background: rgba(0, 0, 0, 0);
  --border-style: none;
}
.header-md::after {
  background-image: none;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Semi Bold";
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Coolvetica Regular";
  src: url("../assets/fonts/Coolvetica/Rg.ttf");
}

.roboto-regular {
  font-family: "Roboto Regular";
}

.roboto-light {
  font-family: "Roboto Light";
}

.roboto-semi-bold {
  font-family: "Roboto Semi Bold";
}

.roboto-bold {
  font-family: "Roboto Bold";
}

.roboto-thin {
  font-family: "Roboto Thin";
}

.coolvetica-regular {
  font-family: "Coolvetica Regular";
}

.font-15 {
  font-size: 15px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.subtitle{
  color: #B2BABB;
}

.pcs{
  color:#229bf8;
}

.button-condensed {
  max-width: 70%;
  max-height: 30px;
}
.button-condensed.margin {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}

.transition-up {
  opacity: 0;
  animation: fadeIn 0.4s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.transition-right {
  opacity: 0;
  animation: fadeRight 0.4s ease-in both;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.transition-in {
  opacity: 0;
  animation: fadeInS 0.4s ease-in both;
}

@keyframes fadeInS {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alert-tappable.alert-radio {
  height: auto;
  contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
  white-space: normal;
}
