<ion-header>
  <ion-toolbar [myScrollVanish]="scrollArea">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/dashboard"
        mode="ios"
        icon="ios-arrow-back"
        text=""
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Delivery</ion-title>
    <!-- <app-master-header slot="end"></app-master-header> -->
  </ion-toolbar>
</ion-header>

<ion-content #scrollArea scrollEvents="true" fullscreen scroll-y="true">
  <ion-card mode="ios" color="light">
    <ion-card-header>
      <ion-card-title> Delivery Details </ion-card-title>
      <ion-card-title>
        <ion-grid no-padding>
          <ion-row>
            <ion-col size="3">Total</ion-col>
            <ion-col size="2">CN :</ion-col>
            <ion-col size="2">{{ cnTotal }}</ion-col>
            <ion-col size="3">PCS : </ion-col>
            <ion-col size="2">{{ pcsTotal }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-list>
        <ion-item>
          <ion-label position="floating" style="color:red">Delivery Code</ion-label>
          <ion-select multiple="false" [(ngModel)]="status">
            <ion-select-option value="success">Successful</ion-select-option>
            <ion-select-option value="failed">Failed</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="status == 'failed'">
          <ion-label position="floating" style="color:red">Fail Code</ion-label>
          <ion-select multiple="false" [(ngModel)]="failCode">
            <ion-select-option *ngFor="let fail of allFailCode" [value]="fail">
              {{ fail.code }} - {{ fail.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="status == 'success'">
          <ion-label position="stacked">Receiver Name</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="receiverName"
            placeholder="Insert Receiver Name"
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="status == 'success'">
          <ion-label position="stacked">Receiver Identification</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="receiverId"
            maxlength="14"
            placeholder="Insert Receiver Identification Number"
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="status == 'success' || status == 'failed'">
          <ion-label position="stacked" >Notes</ion-label>
          <ion-textarea
            type="text"
            [(ngModel)]="note"
            placeholder="Insert notes regarding delivery"
          ></ion-textarea>
        </ion-item>
        <ion-item lines="none" *ngIf="failCode?.isAttachment">
          <ion-label>Attachment</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="failCode?.isAttachment">
          <div class="camera-box" *ngIf="cameraUrl == ''" (click)="openCamera()"></div>
          <ion-img [src]="cameraUrl" *ngIf="cameraUrl != ''"></ion-img>
        </ion-item>
        <ion-item lines="none" *ngIf="failCode?.isSignature || status == 'success'">
          <ion-label>Signature</ion-label>
        </ion-item>
        <ion-item lines="none" *ngIf="failCode?.isSignature || status == 'success'">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <div style="border: rgba(190,190,190,1) 1px solid;border-radius:15px">
                  <signature-pad [options]="signaturePadOptions"></signature-pad>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

      <ion-button
        class="ion-margin-bottom ion-margin-top"
        (click)="ValidateFail()"
        fill="solid"
        *ngIf="status == 'failed'"
        shape="round"
        expand="block"
        mode="ios"
        style="margin-left:auto;margin-right:auto;display: block !important;max-width:70%;max-height:30px"
      >
        Done
      </ion-button>
      <ion-button
        class="ion-margin-bottom ion-margin-top"
        (click)="ValidateSuccess()"
        *ngIf="status == 'success'"
        fill="solid"
        shape="round"
        expand="block"
        mode="ios"
        style="margin-left:auto;margin-right:auto;display: block !important;max-width:70%;max-height:30px"
      >
        Done
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
