.event-title {
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.4px;
}

.status-bar-right {
  border-right: 1px rgba(204, 204, 204, 1) solid;
}

.padding-left {
  padding-left: 15px;
}

.padding-right {
  padding-right: 35px;
}

ion-item {
  --background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

ion-select {
  color: black;
}
